<div class="container-fluid">
    <div class="row">

        <div class="col-md-10">
            <!--Body content-->
            <div class='md-padding' layout="row" layout-wrap>
                <md-card ng-click="go('/milestnoe')" flex="45" flex-sm="90" ng-repeat="usecase in $ctrl.usecases">
                    <md-card-title>
                        <a href="#!/usecases/{{usecase._id}}" class="thumb">
                        <h3 class="md-headline">{{usecase.title}}</h3>
                            </a>
                    </md-card-title>
                    <md-card-content>
                        <div ng-bind-html="renderHtml(usecase.body)" class="md-subhead"></div>
                    </md-card-content>

                </md-card>
            </div>
        </div>
    </div>
</div>
