<div class="container-fluid">
    <div class="row">

        <div class="col-md-10">
            <!--Body content-->

            <md-input-container class="md-block">
                <md-icon md-svg-icon="action:ic_assignment_turned_in_24px"></md-icon>
                <label>Title</label>
                <input md-maxlength="50" required md-no-asterisk name="title" ng-model="usecase.title">
                <div ng-messages="projectForm.objective.$error">
                    <div ng-message="required">This is required.</div>
                </div>
            </md-input-container>

            <md-input-container class="md-block">
                <md-icon md-svg-icon="action:ic_assignment_turned_in_24px"></md-icon>
                <label>Body</label>
                <textarea md-maxlength="500" rows="5" required md-no-asterisk name="body"
                          ng-model="usecase.body"></textarea>
                <div ng-messages="projectForm.description.$error">
                    <div ng-message="required">This is required.</div>
                </div>
            </md-input-container>

            <md-button ng-click="saveProject()">
                <md-icon md-svg-icon="content:ic_save_24px"></md-icon>
                Add Use Case
            </md-button>
        </div>
    </div>
</div>
